{% extends 'recipeapp/base.html' %}
{% block title %}Edit {{ recipe.name }}{% endblock %}
{% block content %}
{% load static %}
<h2>{{ recipe.name }} change:</h2>
<div>
    <ul>
        {% for img in images %}
        <li><img src="{{ img.image.url }}" width="200"></li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'upload_image' recipe.id %}">Добавить изображение</a></p><br>

    <form method="post">
        {% csrf_token %}
        {{ form.name }} - Название<br>
        {{ form.category }} - Категория<br>
        {{ form.description }} - Описание<br>
        {{ form.steps }} - Этапы приготовления<br>
        {{ form.cooking_time }} - Время приготовления<br>
        <button type="submit" class="submit-button">Обновить</button>
    </form>
</div><br>
{% endblock %}